<footer class="page-footer">
    <div class="container-fluid blue-color">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-4 d-flex justify-content-center align-self-center">
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                    <br>
                    inRendr
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-4 d-flex justify-content-center align-self-center">
                <ul>
                    <li><a class="footer-hyperlink" href="/"> Home </a></li>
                    <li><a class="footer-hyperlink" href="/#about-us">About Us </a> </li>
                    <li><a class="footer-hyperlink" href="/gallery">Gallery </a></li>
                    <li><a class="footer-hyperlink" href="/#contact-us">Contact Us </a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-4 col-4 d-flex justify-content-center align-self-center">
                <p class="brand-name-font">El Olam Fashion </p>
            </div>
        </div>
    </div>
</footer>
