@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
    --content-heading-font: 'Poiret One', cursive;
    --text-body-font: 'Quicksand', sans-serif;
    --text-body-color: rgb(38, 38, 38);
    --brand-name-font: 'Old Standard TT', serif;
    --off-white-color: #fefeff;
    --blue-color: rgb(2, 2, 14);
    --hover-transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

ul.img-list {
    list-style-type: none;
    display: inline-block;
    text-align: justify;
}

ul.img-list::after {
    content: "";
    width: 100%;
}

ul.img-list li {
    float: left;
    width: 40%;
}

@media screen and (orientation: portrait) {
    .reactive-img-spacing {
        margin: 2vw;
    }
}

@media screen and (orientation: landscape) {
    .reactive-img-spacing {
        margin: 2vw;
    }
}


.thumbnail {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: --var(--hover-transition);
}

.thumbnail:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (orientation: portrait) {
    .reactive-img-height {
        height: 20vh;
    }

}

@media screen and (orientation: landscape) {
    .reactive-img-height {
        height: 50vh;
    }

    .reactive-img-height:hover {
        height: 52vh;
        margin-bottom: -2vh;
    }
}

.item-descr {
    font-family: var(--text-body-font);
    padding-left: 1vw;
    text-align: left;
}

.item-price {
    font-family: var(--text-body-font);
    padding-left: 4vw;
    color:  rgb(120, 120, 120);
}