ul.img-list { 
    list-style-type: none;
    display: inline-block;
    text-align: justify;
}

ul.img-list::after {
    content: ""; 
    width: 100%;
}

ul.img-list li {
    float: left;
    width: 30%;
}

/* .img-list-item {
    display: inline-block;
    /* text-align: justify; */
} */

.img-thumbnail {
    max-width: 30%;
    width: 10%;
    height: auto;
    /* float: left; */
}