<HTML>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> El Olam Fashion </title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link type="text/css" rel="stylesheet" href="css/lightgallery.css" />
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-light bg-off-white fixed-top">
        <a class="navbar-brand brand-name-font" href="#">El Olam Fashion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link gallery-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--/.Navbar-->


    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6 col-sm-8 col-10">
                <div class="about-me-heading-container">
                    <h1 class="about-me-heading"> Gallery </h1>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-2">

            </div>

        </div>
        <div class="row">
            <div id="lightgallery">
                <a href="./images/sewing-machine.jpg">
                    <img src="./images/sewing-machine.jpg" />
                </a>
                <a href="./images/sewing-machine.jpg">
                    <img src="./images/sewing-machine.jpg" />
                </a>
            </div>
        </div>
    </div>

    <footer class="page-footer">
        <div class="container-fluid blue-color">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-4 d-flex justify-content-center align-self-center">
                    <div class="footer-copyright text-center py-3">© 2019 Copyright:
                        <br>
                        A Thabz Creation
                        [insert link for logos]
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-4 d-flex justify-content-center align-self-center">
                    <ul>
                        <li>Home </li>
                        <li>About Us </li>
                        <li><a class="gallery-link">Gallery </a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-4 col-4 d-flex justify-content-center align-self-center">
                    <p class="brand-name-font">El Olam Fashion </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/two.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/parallax.min.js"></script>


    <script src="/js/lightgallery.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script src="/js/gallery.js"></script>
</body>

</HTML>