<HTML>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> El Olam Fashion </title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-light bg-off-white fixed-top">
        <a class="navbar-brand brand-name-font" href="#">El Olam Fashion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--/.Navbar-->


    <div class="container-fluid p-0">

        <div class="row">

            <!-- Heading Div -->
            <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                <div class="landing-image" id="landing-image">
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12 col-sm-12 col-12">
                <div class="company-slogan">
                    Beatuiful your own way. <br>
                    Power wear.
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-sm-8 col-10">
                <div class="about-me-heading-container">
                    <h1 class="about-me-heading"> About Us </h1>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-2">

            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="about-me-body body-text">
                    I’m a qualified dressmaker available for all your garments. Whether you're running your own
                    business,
                    for your own boutique, online store, personal dressing, company uniforms etc.
                    <br>
                    <br>
                    Some of the reasons people use my services include:
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center benefits-row">
            <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12 ad-qualities-text">
                <ul class="benefits-list">
                    <li class="partial-underline"> Sticking to customer deadlines </li>
                    <li class="partial-underline"> Great communication with clients </li>
                    <li> Producing high-quality garments </li>
                </ul>
            </div>

            <!-- <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12 ad-qualities-text">

                <img src="/images/time.png" class="advert-image">
                <p>
                    
            </div>
            <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12 ad-qualities-text">

                <img src="/images/talk.png" class="advert-image">
                <p>
                    Great communication with clients
                </p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12 ad-qualities-text">

                <img src="/images/quality.png" class="advert-image">
                <p>
                    Producing high-quality garments
                </p>
            </div> -->
        </div>

        <div class="row spec-row">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="about-me-body body-text margin-sm-bottom">
                    <p>I specialise in:</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-6 d-flex justify-content-center">
                <button class="btn spec-btn" data-toggle="modal" data-target="#exampleModal">Alterations </button>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-6 d-flex justify-content-center">
                <button class="btn spec-btn" data-toggle="tooltip" data-placement="top"
                    title="Click to find out more">Wedding outfits </button>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-6 d-flex justify-content-center">
                <button class="btn spec-btn" data-toggle="tooltip" data-placement="top"
                    title="Click to find out more">Special outfits</button>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-6 d-flex justify-content-center">
                <button class="btn spec-btn" data-toggle="tooltip" data-placement="top"
                    title="Click to find out more">Casual outfits</button>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-6 d-flex justify-content-center">
                <button class="btn spec-btn" data-toggle="tooltip" data-placement="top"
                    title="Click to find out more">Uniforms</button>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-6 d-flex justify-content-center">
                <button class="btn spec-btn" data-toggle="tooltip" data-placement="top"
                    title="Click to find out more" id = "bedding">Bedding & <br> Linen</button>
            </div>



            <!-- <ul class="specialising-list">
                        <li> Weddings: </li>
                        <ul class="specialising-sub-list">
                            <li> Wedding gowns </li>
                            <li> Bridemaids dresses </li>
                            <li> Flower girls dresses </li>
                        </ul>


                        <li> Special outfits: </li>
                        <ul class="specialising-sub-list">
                            <li> Matric Dance dresses </li>
                            <li> Evening dresses</li>
                            <li> African print outfits </li>
                        </ul>

                        <li> Casual outfits</li>

                        <li> Uniforms: </li>
                        <ul class="specialising-sub-list">
                            <li> Church uniforms </li>
                            <li> Company uniforms </li>
                        </ul>

                        <li> Bedding and Linen: </li>
                        <ul class="specialising-sub-list">
                            <li> Curtains </li>
                            <li> Bedsheets </li>
                        </ul>

                    </ul> -->

            <div class="col-lg-12 d-flex justify-content-center about-me-body body-text text-center">
                Click the button below to take a look at the gallery of amazing things I’ve done for clients in the
                past:
            </div>

            <div class="col-lg-12 text-center ">
                <button type="button" class="btn btn-outline-dark submit-btn margin-lg-bottom">View Gallery</button>
            </div>
        </div>


        <div class="row d-flex justify-content-center contact-us-row">
            <div class="col-lg-3 col-sm-2 col-1">

            </div>
            <div class="col-lg-6 col-sm-8 col-10">
                <div class="contact-us-heading-container">
                    <h1 class="contact-us-heading"> Contact Us </h1>
                </div>

            </div>
            <div class="col-lg-3 col-sm-2 col-1">

            </div>

            <div class="col-lg-1 col-sm-3 col-2">

            </div>

            <div class="col-lg-3 col-sm-6 col-8">
                <input class="form-control contact-detail-text-field" type="text" placeholder="Name">
                <input class="form-control contact-detail-text-field" type="email" placeholder="Email Address">
                <input class="form-control contact-detail-text-field" type="tel" placeholder="Contact number">
            </div>

            <div class="col-lg-1 col-sm-3 col-2">

            </div>

            <div class="d-lg-none col-sm-1 col-1">

            </div>

            <div class="col-lg-5  col-sm-10 col-10">
                <textarea class="form-control product-description"
                    placeholder="Provide a brief description of what you'd like us to do for you"></textarea>
            </div>

            <div class=" col-lg-2 col-sm-1 col-1">
            </div>

            <div class="col-lg-12 col-sm-12 col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-dark submit-btn">Submit</button>
            </div>

            <div class="col-lg-10 col-sm-10 col-10 d-flex justify-content-center">
                <p class="body-text margin-lg-top">Alternatively, use the contact details below: </p>
            </div>
            <div class="col-lg-10 col-sm-10 col-10 d-flex justify-content-center">
                <ul class="contact-list margin-sm-top">
                    <li>
                        <img class="contact-icon" src="images/phone.png">
                        <a class="contact-list-link" href="tel:0710688475"> 071 068 8475</a>
                    </li>
                    <li>
                        <img class="contact-icon" src="images/gmail.png">
                        <a class="contact-list-link" href="mailto:izianamampi@gmail.com"> izianamampi@gmail.com </a>
                    </li>
                    <li>
                        <img class="contact-icon" src="images/whatsapp.png">
                        <a class="contact-list-link" href="https://wa.me/0710688475"> 071 068 8475</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer">
        <div class="container-fluid blue-color">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-4 d-flex justify-content-center align-self-center">
                    <div class="footer-copyright text-center py-3">© 2019 Copyright:
                        <br>
                        A Thabz Creation
                        [insert link for logos]
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-4 d-flex justify-content-center align-self-center">
                    <ul>
                        <li>Home </li>
                        <li>About Us </li>
                        <li>Gallery</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-4 col-4 d-flex justify-content-center align-self-center">
                    <p class="brand-name-font">El Olam Fashion </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/two.js"></script>
    <script src="/js/index.js"></script>

</body>

</HTML>