<html>

<head>
    <title> The Journey: From Unsure to Insured </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/journey.css">

    <link href="https://fonts.googleapis.com/css?family=Calistoga|Roboto:100&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/js/journey.js'></script>
</head>

<body>
    <!-- Image and text -->

    <div class='content'>
        <nav class="navbar navbar-light">
            <b>The Journey:</b> From Unsure to Insured
        </nav>

        <div class='answer-area'>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type your response here" id="user-message">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="send-btn">Send</button>
                </span>
            </div>
        </div>

        <div class='chatbox-response-bubble'>
        </div>
    </div>

</body>

</html>